<header id="header">
    <div class="row-fluid">
        <div class="top-bar bg-color"></div>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span3">
                <div id="logo" class="inner-logo bg-color">
                    <a href="{{url:site}}">{{theme:image file="logo.png"}}</a>
                </div>
            </div>
            <div class="span9">
                <div id="menu-container" class="row-fluid border-bott">
                    <div class="top-menu">
                        <ul id="nav" class="nav-full">
                            {{ navigation:links group="header" }}
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</header>

