
.blog-hover .overlay{
   display:none !important;
}
.blog-hover .details{
   display:none !important;
}
.blog-hover .date{
    top:0 !important;
}
.blog-hover .zoomable{
    transform: none !important;
    -ms-transform:none !important;
}
#nav li ul li:hover{
    background:none;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E53C3C3C,endColorstr=#E53C3C3C);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E53C3C3C,endColorstr=#E53C3C3C);
    zoom: 1;
}
input[id="newsletter"]{
    height:41px !important;
    background:#2F2F2F !important;
}