<!DOCTYPE html>
<html>

    <head>
        {{ theme:partial name='metadata' }}

    </head>

    <body>
        {{ if theme:options:style == 'boxed' }}
              <div class="main-box">          
        {{endif}}
        
        {{ integration:analytics }}
        
        {{ if theme:options:style == 'full' }}
            <!--   HEADER  --> 
            {{ theme:partial name="header" }}
            <!--   /HEADER  -->         
        {{endif}}

        <!--  MAIN SECTION -->
        <section id="wrap">
            
            {{ if theme:options:style == 'boxed' }}
                <!--   HEADER  --> 
                {{ theme:partial name="header" }}
                <!--   /HEADER  -->         
            {{endif}}
            
            <div id="main-container" class="container {{ if theme:options:style == 'boxed' }}box-pad{{endif}}">
                <!-- slider -->
                {{ if { url:segments segment="1" } == '' OR  { url:segments segment="1" } == 'home' }}
                        {{ widgets:area slug="slider" }}
                {{ endif }}
                <!-- /slider -->
                
                    
                    {{ theme:partial name="breadcrumbs" }}
                    
                    
                    {{ session:messages success="alert alert-success" notice="alert" error="alert alert-error" }}
                    
                    
                        <!--option layout: {{theme:options:layout}}-->
                        <div class="row-fluid">
                            <div class="span9">
                                {{ template:body }}
                            </div>
                            <!-- sidebar -->
                            <div class="span3">
                                {{ widgets:area slug="blog-sidebar" }}
                            </div>
                            <!-- /sidebar -->
                        </div>



                
            </div>
        </section> 
        <!-- / MAIN SECTION -->
        
        {{ theme:partial name="footer" }}
        
        {{ if theme:options:style == 'boxed' }}
        </div>          
        {{endif}}
    </body>
</html>

