<footer id="footer">
    <div id="bottom-shadow-up"></div>
    <div class="container">
        <div class="row-fluid vmargin">
            <div class="span3">
                {{ widgets:area slug="footer-col1" }}

            </div>
            <div class="span3">
                {{ widgets:area slug="footer-col2" }}
            </div>
            <div class="span3">
                {{ widgets:area slug="footer-col3" }}
            </div>
            <div class="span3">
                {{ widgets:area slug="footer-col4" }}
            </div>
        </div>
        <div class="bottom-hr"></div>
        <div id="bottom-social">
            <a class="social-network facebook" href="#" target="_blank" rel="nofollow"></a> 
            <a class="social-network twitter" href="#" target="_blank" rel="nofollow"></a>
            <a class="social-network dribbble" href="#" target="_blank" rel="nofollow"></a> 
            <a class="social-network pinterest" href="#" target="_blank" rel="nofollow"></a> 
            <a class="social-network deviantart" href="#" target="_blank" rel="nofollow"></a> 
            <a class="social-network lastfm" href="#" target="_blank" rel="nofollow"></a>

        </div>

        <div id="copyright">
            <p>All rights reserved © 2014 <a class="text-glow" href="etechnologia.co.uk"><strong><span>EtechnoloGia</span></strong></a>.<p>
        </div>
    </div>

</footer>